@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Beyonders';
    src: url('/fonts/Beyonders.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Conthrax';
    src: url('/fonts/conthrax-sb.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Nexa';
    src: url('/fonts/nexa-light.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }