@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Arial';
    src: url('/fonts/Arial-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Gothan';
    src: url('/fonts/GOTHAM-BOOK.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Renogare';
    src: url('/fonts/Renogare-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  